.dynamic-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dynamic-form input {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dynamic-form input[type="text"],
.dynamic-form input[type="email"],
.dynamic-form input[type="file"],
.dynamic-form input[type="tel"] {
  width: calc(100% - 20px);
}

.additional-info {
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.info-layout {
  display: flex;
  align-items: center;
}

.info-layout input[type="checkbox"] {
  margin-right: 8px;
}